@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
}

.container-fluid {
    max-width: 1100px;
    margin: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

footer {
    margin-bottom: -120px;
}

.footer {
    display: flex;
    background: linear-gradient(to left, #3e3d54, #151421);
}

.footer-col {
    width: 16%;
    padding: 0;
}

.footer-col h4 {
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
    left: 20px;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 80px;
    bottom: -10px;
    background-color: hsl(221, 70%, 46%);
    height: 2px;
    box-sizing: border-box;
    width: 100px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}

.container-fluid {
    padding: 15px;
    justify-content: center;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 0;
    aling-items: center
}

.separador {
    display: flex;
    background-color: #fff;
    width: 100%;
    margin: 1rem 0;
    color: inherit;
    border: 1px solid #fff;
    opacity: .25;
}

small {
    color: #fff;
    margin-bottom: 10px;
}

p {
    color: gray;
}


/*responsive*/

@media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
}